:root {
  font-size: 2vmin;
}

.container {
  max-width: 80ch;
}

.input-group {
  margin-bottom: 1vmin;
}

table .input-group {
  margin-bottom: 0;
}

.input-group.list-controls {
  width: -webkit-fill-available;
  display: block;
  height: 2.35em;
  background-color: #007bff;
  border-radius: 4px;
}

.input-group.list-controls .input-group-prepend {
  position: absolute;
}

.input-group.list-controls .input-group-append {
  position: absolute;
  right: 0;
}

button.btn.trig {
  width: 100%;
  height: 30vmin;
  border-radius: 5vmin;
  font-size: 8vmin;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1vmin;
}

button.btn.preset {
  margin-left: .5vmin;
  margin-right: .5vmin;
}

button.btn.trig.active {
  background: red !important;
}

.container {
  padding: 1vmin;
}
.form-control[name="weeklyHours"]{
  max-width: 5ch;
}

td, th {
  line-height: 2.5em
}
