
.input-group.list-controls {
  width: -webkit-fill-available;
  display: block;
  height: 2.35em;
  background-color: #007bff;
  border-radius: 4px;
}

.MuiButton-containedPrimary.trig {
  width: 100%;
  height: 30vmin;
  border-radius: 5vmin;
  font-size: 8vmin;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1vmin;
}

.MuiButton-containedPrimary.trig.active {
  background: red !important;
}

button.btn.preset {
  margin-left: .5vmin;
  margin-right: .5vmin;
}

.list-date {
  min-width: 11.5ch; width: 11.5ch;
  margin-right: 1ch !important;
}

.list-date.day {
  min-width: 5.7ch; width: 5.7ch;
  margin-right: 1ch !important;
}

td[colspan="2"]{
  flex-grow: 1
}

tr > b {
  flex-grow: 1
}

.list-time {
  min-width: 6.2ch; width: 5.2ch;
}

tr {
  display: flex !important;
}

td b,
td span {
  font-size: 130%;
}
td span {
  color: lightgray
}

.MuiIconButton-root {
  padding: 0px !important;
  margin-top: 4px!important;
}

@media ( max-width: 500px ) {
  .MuiTableCell-root {
    padding: 8px !important;
  }
  .MuiIconButton-root {
    padding: 0px !important;
    margin-top: 4px!important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  left:-10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: black 0 0 10px inset;
  border-radius: 3px;
  padding-top:5px;
  padding-bottom:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: rgba(0,0,0,0.8) 0 0 3px inset;
  background: #3f51b5;
  border-radius: 3px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 0.8em;
}
